.mobile-mockup {
    position: relative;
    width: 375px; /* Ancho del mockup del móvil */
    height: 667px; /* Alto del mockup del móvil */
    background: #f0f0f0; /* Color de fondo del mockup */
    border: 16px solid #ddd; /* Borde del mockup */
    border-radius: 36px; /* Borde redondeado del mockup */
    overflow: hidden;
    margin: 50px auto; /* Alinea el mockup al centro */
    margin-top: 80px;
  }
  
  .screen {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    background: white;
    overflow: hidden;
  }

  .upper-section{
    width: 100%;
    height: 50%;
    background-color: transparent;
  }

  .profile-img{
    border: 50%;
    z-index: 10000;
  }

  .circular-image {
    width: 100px;  
    height: 100px; 
    overflow: hidden;
    border-radius: 50%; 
    border: 2px solid #fff; 

    margin: 8px;
  }

  .imgHome{
    border: 50%;
  }

  .info-profile{
    display: flex;
    align-items: center;
    margin: 10px;
  }

  .data-ig{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    gap: 3px
  }

  h5{
    margin-left: 10px;
  }

  h6{
    font-size: 13px;
    font-weight: 300;
    color: gray;
    margin-left: 10px;
  }

  .description-ig{
    font-size: 12px;
    text-align: justify;
    margin: 10px;
    
  }

  .edit-profile{
    border: 1px solid rgb(212, 206, 206);
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
  }


  .lower-section{
    width: 100%;
    height: 50%;
   

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
  }

  .post-ig{
    width: auto; 
    height: auto; 
    background-color: #ddd; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(173, 170, 170);

   
  } 
  
  .github{
    background-image: url("https://i.postimg.cc/sfpb28pw/fondo2.jpg");
    background-size: cover;
    opacity: 1;
  }

  .github:hover{
    transform: scale(1.1); 
    background-color: black;
  }

  .linkedin{
    background-image: url("https://i.postimg.cc/prtMpMGJ/fondo.jpg");
    background-size: cover;
    opacity: 0.9;
  }

  .linkedin:hover{
    transform: scale(1.1); 
    background-color: black;
  }

  .cv{
    background-image: url("https://i.postimg.cc/Xqp89rrf/fondo3.jpg");
    background-size: cover;
    opacity: 0.9;
  }

  .post-ig:hover{
    transform: scale(1.1); 
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }

  .proyecto{
    background-image: url("https://i.postimg.cc/kXyPVYtF/fondo4.jpg");
    background-size: cover;
    opacity: 0.9;
  }