.projects-container{
  margin: 0;
}
.projects-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 30px;
  }
  
  main {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 20px;
    width: 300px; /* Ajusta según sea necesario */
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
    
  }
  
  h4 {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  article {
    margin-bottom: 15px;
    text-align: justify;
  }
  
.tecnology{
  font-weight: 400
}

  a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }

  p{
    text-align: center;
  }
  
  strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .btn{
    .btn {
      width: 6.5em;
      height: 2.3em;
      margin: 0.5em;
      background: black;
      color: white;
      border: none;
      border-radius: 0.625em;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      z-index: 1;
      overflow: hidden;
     }
     
     button:hover {
      color: black;
     }
     
     button:after {
      content: "";
      background: white;
      position: absolute;
      z-index: -1;
      left: -20%;
      right: -20%;
      top: 0;
      bottom: 0;
      transform: skewX(-45deg) scale(0, 1);
      transition: all 0.5s;
     }
     
     button:hover:after {
      transform: skewX(-45deg) scale(1, 1);
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
     }
  }